*
!.dlt
!.dockerignore
!.git
!.github
!.gitignore
!.readthedocs.yml
!MANIFEST.in
!codecov.yml
!cratedb_toolkit/**
!doc/**
!examples/**
!release/**
!pyproject.toml
!renovate.json5
!setup.py
!tests/**
!**/*.md
!**/*.rst
!LICENSE
