---
name: "Tests: InfluxDB"

on:
  pull_request:
    branches: ~
    paths:
    - '.github/workflows/influxdb.yml'
    - 'cratedb_toolkit/io/influxdb/**'
    - 'pyproject.toml'
  push:
    branches: [ main ]
    paths:
    - '.github/workflows/influxdb.yml'
    - 'cratedb_toolkit/io/influxdb/**'
    - 'pyproject.toml'

  # Allow job to be triggered manually.
  workflow_dispatch:

  # Run job each night after CrateDB nightly has been published.
  schedule:
    - cron: '0 3 * * *'

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:

  tests:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        # TODO: yarl, dependency of influxio, is currently not available on Python 3.12.
        #       https://github.com/aio-libs/yarl/pull/942
        python-version: ["3.8", "3.11"]
        influxdb-version: ["2.6", "2.7"]

    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}
      INFLUXDB_VERSION: ${{ matrix.influxdb-version }}
      # Do not tear down Testcontainers
      TC_KEEPALIVE: true

    name: "
    Python ${{ matrix.python-version }}, 
    InfluxDB ${{ matrix.influxdb-version }}, 
    OS ${{ matrix.os }}
    "
    steps:

    - name: Acquire sources
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
        cache: 'pip'
        cache-dependency-path: 'pyproject.toml'

    - name: Set up project
      run: |

        # `setuptools 0.64.0` adds support for editable install hooks (PEP 660).
        # https://github.com/pypa/setuptools/blob/main/CHANGES.rst#v6400
        pip install "setuptools>=64" --upgrade

        # Install package in editable mode.
        pip install --use-pep517 --prefer-binary --editable=.[influxdb,test,develop]

    - name: Run linter and software tests
      run: |
        pytest -m influxdb

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        files: ./coverage.xml
        flags: influxdb
        env_vars: OS,PYTHON
        name: codecov-umbrella
        fail_ci_if_error: false
